# Data collection - fantasy

In [1]:
import numpy as np
import pandas as pd
import requests
import time

## Set URL, params and get_data function

In [2]:
# st base url and params
url_sub = 'https://api.pushshift.io/reddit/search/submission'
url_com = 'https://api.pushshift.io/reddit/search/comment'

params = {
    'subreddit': 'Fantasy',
    'size': 100,
    'before': None,
}

In [3]:
def get_data(url, params):
    
    """
    This finction makes a request and pulls data
    and returns a dataframe from a response.
    """
    
    res = requests.get(url, params)
    data = res.json()
    posts = data['data']
    df = pd.DataFrame(posts) 
    # the line below attributed to Jacob
    params['before'] = df.iloc[-1]['created_utc']
    
    print(params['before'])
    print(df.shape[0])

    time.sleep(5.0)
    
    return df

---
## Get fantasy posts and comments

In [4]:
# get posts
fantasy_posts = []

for i in range(100):
    fantasy_posts.append(get_data(url_sub, params))

1619801606
100
1619648986
100
1619524817
100
1619370835
100
1619203542
100
1619021120
100
1618853386
100
1618675634
100
1618443812
100
1617900685
100
1617744151
100
1617580885
100
1617405604
100
1617221284
100
1617043690
100
1616899523
100
1615826074
100
1615628399
100
1615433736
100
1615265313
100
1614839809
100
1614465826
100
1614283133
100
1614112323
100
1613935336
100
1613744828
100
1613617080
100
1613311058
100
1613137778
100
1612990872
100
1612751162
100
1612307396
100
1612145859
100
1611985345
100
1611794028
100
1611534578
100
1611345236
100
1611185790
100
1611005814
100
1610814990
100
1610669599
100
1610535748
100
1610361641
100
1610205693
100
1610038934
100
1609844992
100
1609707801
100
1609592422
100
1609451800
100
1609321524
100
1609165768
100
1609020527
100
1608821557
100
1608654494
100
1608467021
100
1608297857
100
1608120546
100
1607940662
100
1607767671
100
1607560408
100
1607381182
100
1607200993
100
1606928583
100
1606754159
100
1606584197
100
1606352795
100
1606180805
100
1606054728
100
1605875875
100
1605684616
100
1605477935
100
1605293984
100
1605135539
100
1604985750
100
1604837344
100
1604533851
100
1604419717
100
1604273044
100
1604160537
100
1604036980
100
1603930058
100
1603819063
100
1603715685
100
1603581826
100
1603463171
100
1603327065
100
1603205821
100
1602992147
100
1602857611
100
1602712679
100
1602600602
100
1602468284
100
1602325380
100
1602169789
100
1602040231
100
1601904909
100
1601753283
100
1601585595
100
1601476720
100
1601348703
100

In [6]:
fantasy_p = pd.concat(fantasy_posts)
fantasy_p.head()

,all_awardings,allow_live_comments,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,author_patreon_flair,author_premium,...,secure_media,secure_media_embed,is_gallery,collections,gallery_data,edited,gilded,author_cakeday,banned_by,distinguished
0,[],False,Emotional_Object3967,None,[],None,text,t2_aijrbe8w,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[],False,mpc3980,None,[],None,text,t2_1qb7wqce,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[],False,Silli_art_,None,[],None,text,t2_bw15vzw6,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[],False,jwjudge,None,[],None,text,t2_bj95h3ns,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[],False,mixmastamicah55,None,[],None,text,t2_1jjtcj8,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
fantasy_p.shape

(10000, 85)

In [8]:
# save posts df
fantasy_p.to_csv('../data/fantasy_posts_10000.csv')

In [9]:
# get comments
fantasy_comments = []

for i in range(100):
    fantasy_comments.append(get_data(url_com, params))

1601341517
100
1601337399
100
1601331938
100
1601327819
100
1601324415
100
1601320003
100
1601315223
100
1601309955
100
1601304835
100
1601295712
100
1601285850
100
1601271922
100
1601264553
100
1601254594
100
1601248127
100
1601242025
100
1601238030
100
1601233577
100
1601229717
100
1601226338
100
1601223236
100
1601219804
100
1601216850
100
1601212093
100
1601206157
100
1601199096
100
1601192500
100
1601187470
100
1601181958
100
1601176723
100
1601171092
100
1601165612
100
1601160838
100
1601156920
100
1601154196
100
1601149962
100
1601146670
100
1601144098
100
1601139567
100
1601135419
100
1601129495
100
1601121658
100
1601115203
100
1601106156
100
1601098060
100
1601091514
100
1601084086
100
1601074025
100
1601067194
100
1601063319
100
1601061009
100
1601057816
100
1601054505
100
1601051150
100
1601047099
100
1601043787
100
1601038597
100
1601029069
100
1600979352
100
1600975121
100
1600971135
100
1600968215
100
1600964212
100
1600961329
100
1600957626
100
1600952790
100
1600947138
100
1600935901
100
1600924584
100
1600916057
100
1600905392
100
1600900834
100
1600895791
100
1600893981
100
1600890873
100
1600888129
100
1600885056
100
1600882177
100
1600879331
100
1600875556
100
1600872449
100
1600869345
100
1600865509
100
1600859943
100
1600852758
100
1600845778
100
1600838631
100
1600831092
100
1600826631
100
1600820681
100
1600815424
100
1600810628
100
1600807378
100
1600804542
100
1600801372
100
1600798396
100
1600694835
100
1600689326
100
1600683457
100
1600670782
100

In [10]:
fantasy_c = pd.concat(fantasy_comments)
fantasy_c.head()

,all_awardings,associated_award,author,author_flair_background_color,author_flair_css_class,author_flair_richtext,author_flair_template_id,author_flair_text,author_flair_text_color,author_flair_type,...,send_replies,stickied,subreddit,subreddit_id,top_awarded_type,total_awards_received,treatment_tags,edited,author_cakeday,distinguished
0,[],None,BearbertDondarrion,None,None,[],None,None,None,text,...,True,False,Fantasy,t5_2qknd,None,0,[],NaN,NaN,NaN
1,[],None,Itrulade,None,None,[],None,None,None,text,...,True,False,Fantasy,t5_2qknd,None,0,[],NaN,NaN,NaN
2,[],None,06210311,None,None,[],None,None,None,text,...,True,False,Fantasy,t5_2qknd,None,0,[],NaN,NaN,NaN
3,[],None,drunken_monkey9,None,None,[],None,None,None,text,...,True,False,Fantasy,t5_2qknd,None,0,[],NaN,NaN,NaN
4,[],None,06210311,None,None,[],None,None,None,text,...,True,False,Fantasy,t5_2qknd,None,0,[],NaN,NaN,NaN

In [11]:
fantasy_c.shape

(10000, 38)

In [12]:
# save dataframe as csv
fantasy_c.to_csv('../data/fantasy_comments_10000.csv')